.SigninParent {
    display: flex;
    flex-direction: column;
    padding: 15%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/Group\ 55.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-y: bottom;
}

.Title {
    text-align: center;
    color: #41296B;
    letter-spacing: 1rem;
}

.Title h1 {
    font-size: 3rem;
}

.Title h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.FormCadastro {
    width: 400px;
    height: 470px;
    text-align: center;
}

.FormCadastro form {
    border-radius: 4px;
    background-color: #6E49CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}

.FormCadastro button,
.FormCadastro input {
    width: 246px;
    border-radius: 4px;
    border: none;
    height: 40px;
}

.FormCadastro button {
    background-color: #7CAC3C;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.FormCadastro button:hover {
    font-weight: 700;
}

.FormCadastro input {
    padding-left: 1rem;
}

.FormCadastro form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
}

.FormCadastro img {
    width: 24px;
    height: 24px;
    justify-self: center;
    position: relative;
    right: 1rem;
}

.FormCadastro h3 {
    font-size: 1.5rem;
    color: white;
}

.FormCadastro a {
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.FormCadastro a:hover {
    font-weight: 700;
}